<section class="section contact-form">
	<div class="container">
		<div class="row">
			<div class="col-12">

<div class="section-title">
    <h3>Get in <span class="alternate">Touch</span></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, velit.</p>
</div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <label>Title</label>
                    <select id="select-ticket" formControlName="title" class="form-control main" [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
                        <option value=""></option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                    </select>
                    <div class="profession" *ngIf="submitted && f['title'].errors" class="invalid-feedback">Campo Requerido
                        <div *ngIf="f['title'].errors?.['required']">Title is required</div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" class="form-control main" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
                        <div class="profession" *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                            <div *ngIf="f['firstName'].errors?.['required']">First Name Campo Requerido</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control main" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
                        <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                            <div *ngIf="f['lastName'].errors?.['required']">Last Name Campo Requerido</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Date of Birth</label>
                    <input type="date" formControlName="dob" class="form-control main" [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" />
                    <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
                        <div *ngIf="f['dob'].errors?.['required']">Date of Birth Campo Requerido</div>
                        <div *ngIf="f['dob'].errors?.['pattern']">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control main" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors?.['required']">Email Campo Requerido</div>
                        <div *ngIf="f['email'].errors?.['email']">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control main" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors?.['required']">Password Campo Requerido</div>
                        <div *ngIf="f['password'].errors?.['minlength']">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control main" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
                    <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors?.['required']">Confirm Password Campo Requerido</div>
                        <div *ngIf="f['confirmPassword'].errors?.['mustMatch']">Passwords must match</div>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }" />
                <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">Accept Ts & Cs Campo Requerido</div>
            </div>

            <ul class="list-inline">
                <li class="list-inline-item">
                    <button class="btn btn-main-md">Register</button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-transparent-md" type="reset" (click)="onReset()">Cancel</button>
                </li>
            </ul>
        </form>
    </div>
	</div>
    </div>
</section>